body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0%;
  border-bottom: 4px solid gray;
  background-color: rgb(116, 189, 189);
}

#minha_foto {
  padding: 170px;
  padding-left: 60px;
}

.lado-esquerdo {
  display: inline-block;
  float: left;
  width: 47%;
}

.lado-direito {
  display: inline-block;
  float: right;
  width: 48%;
  margin-bottom: 80px;
}

table , th , td {
  border: 1px solid black;
}
