body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0%;
}

table, th, td {
  border: 1px solid black
}

.lado-esquerdo {
  display: inline-block;
  float: left;
  width: 47%;
}

.lado-direito {
  display: inline-block;
  float: right;
  width: 48%;
  margin-bottom: 80px;
}